<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGKk-fe3ZL_ZgyD4cen-_tR8vHfZ9cNlI</string>
	<key>GCM_SENDER_ID</key>
	<string>36525965992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myzero</string>
	<key>PROJECT_ID</key>
	<string>myzero-tls</string>
	<key>STORAGE_BUCKET</key>
	<string>myzero-tls.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36525965992:ios:a65e3cfc916d89ebe9389d</string>
</dict>
</plist>